## Extracting Spotify Data

### Importing Dependencies

In [1]:
import csv
import pandas as pd
import numpy as np
from tqdm import tqdm

In [3]:
# Defining a generator to save memory on reading csv
spotify_raw = "../spotify/charts.csv"
chunksizel = 1000

def prius_csv():
    reader = pd.read_csv(spotify_raw, chunksize=chunksizel)
    chunks = []
    for chunk in tqdm(reader):
        chunks.append(chunk)
    df = pd.concat(chunks)
    return df

spotify_processed = prius_csv()

5429it [00:58, 92.26it/s]

In [23]:
spotify_processed.describe()

           position       streams      duration
count  5.428021e+06  5.428021e+06  5.428021e+06
mean   9.823206e+01  3.109936e+05  2.125949e+05
std    5.900418e+01  1.296324e+06  4.630764e+04
min    1.000000e+00  0.000000e+00  0.000000e+00
25%    4.600000e+01  1.318100e+04  1.850000e+05
50%    9.700000e+01  4.548000e+04  2.085040e+05
75%    1.490000e+02  1.827370e+05  2.337280e+05
max    3.580000e+02  1.151569e+08  9.318296e+06

In [24]:
spotify_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5428021 entries, 0 to 5428020
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   date           object
 1   country        object
 2   position       int64
 3   streams        int64
 4   track_id       object
 5   artists        object
 6   artist_genres  object
 7   duration       int64
 8   explicit       bool
 9   name           object
dtypes: bool(1), int64(3), object(6)
memory usage: 377.9+ MB

In [25]:
spotify_processed.head()

,date,country,position,streams,track_id,artists,artist_genres,duration,explicit,name
0,2021/04/15,de,82,625718,20IvMlpi4U5RuDnAlXSRiV,['Haftbefehl'],['german hip hop'],198746,False,Crackküche
1,2019/01/31,jp,171,50896,0V1K6MU0utODk4yNqZKsFv,['Suchmos'],"['japanese r&b', 'j-rock', 'japanese soul', 'j...",408320,False,WATER
2,2018/11/15,tr,59,185439,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen
3,2018/11/22,tr,133,111159,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen
4,2018/11/29,tr,166,96204,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen

## Filtering by years selected

In [4]:
#prepare date column to filter out per year 

spotify_processed[['year', 'month', 'day']] = spotify_processed['date'].str.split('/', expand=True)

spotify_processed.head()

,date,country,position,streams,track_id,artists,artist_genres,duration,explicit,name,year,month,day
0,2021/04/15,de,82,625718,20IvMlpi4U5RuDnAlXSRiV,['Haftbefehl'],['german hip hop'],198746,False,Crackküche,2021,04,15
1,2019/01/31,jp,171,50896,0V1K6MU0utODk4yNqZKsFv,['Suchmos'],"['japanese r&b', 'j-rock', 'japanese soul', 'j...",408320,False,WATER,2019,01,31
2,2018/11/15,tr,59,185439,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,2018,11,15
3,2018/11/22,tr,133,111159,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,2018,11,22
4,2018/11/29,tr,166,96204,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,2018,11,29

In [5]:
spotify_filtered = spotify_processed[spotify_processed['year'].isin(['2015','2016','2017','2018','2019','2020','2021'])]

spotify_filtered.head()

,date,country,position,streams,track_id,artists,artist_genres,duration,explicit,name,year,month,day
0,2021/04/15,de,82,625718,20IvMlpi4U5RuDnAlXSRiV,['Haftbefehl'],['german hip hop'],198746,False,Crackküche,2021,04,15
1,2019/01/31,jp,171,50896,0V1K6MU0utODk4yNqZKsFv,['Suchmos'],"['japanese r&b', 'j-rock', 'japanese soul', 'j...",408320,False,WATER,2019,01,31
2,2018/11/15,tr,59,185439,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,2018,11,15
3,2018/11/22,tr,133,111159,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,2018,11,22
4,2018/11/29,tr,166,96204,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,2018,11,29

In [56]:
spotify_filtered['year'] = spotify_filtered['year'].astype('int64')
spotify_filtered['month'] = spotify_filtered['month'].astype('int64')
spotify_filtered['day'] = spotify_filtered['day'].astype('int64')

C:\Users\MOTHERSHIP\AppData\Local\Temp\ipykernel_3484\4173233321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spotify_filtered['year'] = spotify_filtered['year'].astype('int64')
C:\Users\MOTHERSHIP\AppData\Local\Temp\ipykernel_3484\4173233321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spotify_filtered['month'] = spotify_filtered['month'].astype('int64')
C:\Users\MOTHERSHIP\AppData\Local\Temp\ipykernel_3484\4173233321.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spotify_filtered['day'] = spotify_filtered['day'].astype('int64')

In [57]:
spotify_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4456009 entries, 0 to 5428020
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   date           object
 1   country        object
 2   position       int64
 3   streams        int64
 4   track_id       object
 5   artists        object
 6   artist_genres  object
 7   duration       int64
 8   explicit       bool
 9   name           object
 10  year           int64
 11  month          int64
 12  day            int64
dtypes: bool(1), int64(6), object(6)
memory usage: 446.2+ MB

## Get durations from the NFL schedules

#### Obtain Schedules for given years

In [35]:
from bs4 import BeautifulSoup
import requests
import os

In [63]:
# establish variables
nfl_base_url = "https://www.jt-sw.com/football/pro/results.nsf/Teams/"
nfl_seasons = [2015,2016,2017,2018,2019,2020,2021]
nfl_team = "-phi"

# create a seasons subfolder if it doesn't exist
if not os.path.exists('seasons'):
    os.makedirs('seasons')

# Loop through each year and export each subtable as a dataframe
for season in nfl_seasons:
    nfl_url = nfl_base_url + str(season) + nfl_team

    # get response 
    response = requests.get(nfl_url)
    soup = BeautifulSoup(response.content, 'html.parser')

    # Use Beautiful Soup to find all the tables within the "table" tag of the HTML content
    table_tag = soup.find('table')
    subtable_tag = table_tag.find_all('table')

    # Loop through each subtable and convert to dataframe
    for i, subtable in enumerate(subtable_tag):
        df = pd.read_html(str(subtable))[0]
        df.insert(0, 'year', season)  # Add year column
        df.drop(df.columns[2], axis=1, inplace=True)  # Drop index 1 column
        # Normal full seasons will be identified by 0
        # Special appearances in either playoffs, wildcards, conference championships or superbowls
        df.to_csv(f"seasons/nfl_{nfl_team.strip('-')}_season_{season}_table_{i}.csv", index=False)

### Reload Schedules into schedule dataframe

In [7]:
regular_season_files = ['./seasons/nfl_phi_season_2015_table_0.csv',
                        './seasons/nfl_phi_season_2016_table_0.csv',
                        './seasons/nfl_phi_season_2017_table_0.csv',
                        './seasons/nfl_phi_season_2018_table_0.csv',
                        './seasons/nfl_phi_season_2019_table_0.csv',
                        './seasons/nfl_phi_season_2020_table_0.csv',
                        './seasons/nfl_phi_season_2021_table_0.csv'
                        ]

In [28]:
regular_seasons_df = []

In [29]:
# Loop through the list of file paths and read each CSV file into a dataframe

for file in regular_season_files:
    rs_df = pd.read_csv(file)
    regular_seasons_df.append(rs_df)

In [30]:
# Concatenate all dataframes into a single dataframe
nfl_phi_seasons = pd.concat(regular_seasons_df, ignore_index=True)

In [31]:
# Rename the columns from numbers to actual column names
nfl_phi_seasons = nfl_phi_seasons.rename(columns={\
    '0':'week number',
    '2':'combined week date',
    '3':'result',
    '4':'score',
    '5':'game loc'})

In [34]:
# convert game loc column to string
nfl_phi_seasons['game loc'] = nfl_phi_seasons['game loc'].astype(str)

# define a lambda function to implement the logic for the new column
turf_adv = lambda x: "away" if x.startswith("at") else ("home" if x.startswith("vs") else "no game")

# apply the lambda function to the 'game loc' column to create the new column
nfl_phi_seasons["turf adv"] = nfl_phi_seasons["game loc"].apply(turf_adv)

In [36]:
# Split combined week date into month number and day in separate columns
date_df = nfl_phi_seasons['combined week date'].str.strip().str.split(' ', expand=True)
date_df.columns = ['month', 'day']

# Define dictionary of month names to numbers
month_dict = {'Jan': '1',
              'Feb': '2',
              'Mar': '3',
              'Apr': '4',
              'May': '5',
              'Jun': '6',
              'Jul': '7',
              'Aug': '8',
              'Sep': '9',
              'Oct': '10',
              'Nov': '11',
              'Dec': '12'}

# Apply dictionary to month column
date_df['month'] = date_df['month'].map(month_dict)

In [38]:
nfl_phi_seasons = pd.concat([nfl_phi_seasons, date_df], axis=1)

In [39]:
nfl_phi_seasons

,year,week number,combined week date,result,score,game loc,turf adv,month,day
0,2015,Week 1,Sep 14,L,26-24,at Atlanta Falcons,away,9,14
1,2015,Week 2,Sep 20,L,20-10,vs Dallas Cowboys,home,9,20
2,2015,Week 3,Sep 27,W,24-17,at New York Jets,away,9,27
3,2015,Week 4,Oct 4,L,23-20,at Washington Redskins,away,10,4
4,2015,Week 5,Oct 11,W,39-17,vs New Orleans Saints,home,10,11
...,...,...,...,...,...,...,...,...,...
115,2021,Week 14,Bye Week,Bye Week,Bye Week,nan,no game,NaN,Week
116,2021,Week 15,Dec 21,W,27-17,vs Washington Football Team,home,12,21
117,2021,Week 16,Dec 26,W,34-10,vs New York Giants,home,12,26
118,2021,Week 17,Jan 2,W,20-16,at Washington Football Team,away,1,2
119,2021,Week 18,Jan 8,L,51-26,vs Dallas Cowboys,home,1,8

In [40]:
# Export season calendar for later analysis
nfl_phi_seasons.to_csv("./seasons/regular_season.csv")

## Use NFL Schedule as filter for music

In [42]:
# Extract only the columns needed to filter spotify data
schedule_filter = nfl_phi_seasons[['week number','year','month','day']]

In [43]:
# Filter out bye weeks using boolean indexing
schedule_filter = schedule_filter[~schedule_filter['day'].str.contains('Week')]

In [53]:
schedule_filter.dtypes

week number    int64
year           int64
month          int64
day            int64
dtype: object

In [50]:
# Converting str to int64
schedule_filter['year'] = schedule_filter['year'].astype('int64')
schedule_filter['month'] = schedule_filter['month'].astype('int64')
schedule_filter['day'] = schedule_filter['day'].astype('int64')

In [51]:
schedule_filter

     week number  year  month  day
0              1  2015      9   14
1              2  2015      9   20
2              3  2015      9   27
3              4  2015     10    4
4              5  2015     10   11
..           ...   ...    ...  ...
114           13  2021     12    5
116           15  2021     12   21
117           16  2021     12   26
118           17  2021      1    2
119           18  2021      1    8

[113 rows x 4 columns]

## Final Spotify list for analysis

In [55]:
spotify_filtered.dtypes

date             object
country          object
position          int64
streams           int64
track_id         object
artists          object
artist_genres    object
duration          int64
explicit           bool
name             object
year             object
month            object
day              object
dtype: object

In [58]:
# merge the two dataframes based on week number, year, month number, and day
merged_df = pd.merge(schedule_filter, spotify_filtered, on=["year", "month", "day"])

In [60]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73236 entries, 0 to 73235
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   week number    73236 non-null  int64
 1   year           73236 non-null  int64
 2   month          73236 non-null  int64
 3   day            73236 non-null  int64
 4   date           73236 non-null  object
 5   country        73236 non-null  object
 6   position       73236 non-null  int64
 7   streams        73236 non-null  int64
 8   track_id       73236 non-null  object
 9   artists        73236 non-null  object
 10  artist_genres  73236 non-null  object
 11  duration       73236 non-null  int64
 12  explicit       73236 non-null  bool
 13  name           73229 non-null  object
dtypes: bool(1), int64(7), object(6)
memory usage: 7.9+ MB

In [61]:
merged_df.to_csv('./proj1_spotify_data_v01.csv')