## Scraping HTML Site for Music Data

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm
import time
import csv
import numpy as np

In [2]:
# Load the archival site into a request and into the web scraper
url = "https://kworb.net/ww/archive/"

response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
# Use Beautiful Soup to find all the anchor tags within the "pre" tag of the HTML content
pre_tag = soup.find('pre')
a_tags = pre_tag.find_all('a')

In [4]:
# Loop through the list of links and use requests to make a request to each link but only that start between 2015-2021
links_2015 = []
links_2016 = []
links_2017 = []
links_2018 = []
links_2019 = []
links_2020 = []
links_2021 = []

for a in a_tags:
    if a.has_attr('href') and a['href'].startswith(('2015')):
        links_2015.append(a['href'])
    if a.has_attr('href') and a['href'].startswith(('2016')):
       links_2016.append(a['href'])
    if a.has_attr('href') and a['href'].startswith(('2017')):
       links_2017.append(a['href'])
    if a.has_attr('href') and a['href'].startswith(('2018')):
       links_2018.append(a['href'])
    if a.has_attr('href') and a['href'].startswith(('2019')):
       links_2019.append(a['href'])
    if a.has_attr('href') and a['href'].startswith(('2020')):
       links_2020.append(a['href'])
    if a.has_attr('href') and a['href'].startswith(('2021')):
       links_2021.append(a['href'])

##### Testing HTML Anatomy

In [6]:
print(links_2015)

['20150101.html', '20150102.html', '20150103.html', '20150104.html', '20150105.html', '20150106.html', '20150107.html', '20150108.html', '20150109.html', '20150110.html', '20150111.html', '20150112.html', '20150113.html', '20150114.html', '20150115.html', '20150116.html', '20150117.html', '20150118.html', '20150119.html', '20150120.html', '20150121.html', '20150122.html', '20150123.html', '20150124.html', '20150125.html', '20150126.html', '20150127.html', '20150128.html', '20150129.html', '20150130.html', '20150131.html', '20150201.html', '20150202.html', '20150203.html', '20150204.html', '20150205.html', '20150206.html', '20150207.html', '20150208.html', '20150209.html', '20150210.html', '20150211.html', '20150212.html', '20150213.html', '20150214.html', '20150215.html', '20150216.html', '20150217.html', '20150218.html', '20150219.html', '20150220.html', '20150221.html', '20150222.html', '20150223.html', '20150224.html', '20150225.html', '20150226.html', '20150227.html', '20150228.html', '20150301.html', '20150302.html', '20150303.html', '20150304.html', '20150305.html', '20150306.html', '20150307.html', '20150308.html', '20150309.html', '20150310.html', '20150311.html', '20150312.html', '20150313.html', '20150314.html', '20150315.html', '20150316.html', '20150317.html', '20150318.html', '20150319.html', '20150320.html', '20150321.html', '20150322.html', '20150323.html', '20150324.html', '20150325.html', '20150326.html', '20150327.html', '20150328.html', '20150329.html', '20150330.html', '20150331.html', '20150401.html', '20150402.html', '20150403.html', '20150404.html', '20150405.html', '20150406.html', '20150407.html', '20150408.html', '20150409.html', '20150410.html', '20150411.html', '20150412.html', '20150413.html', '20150414.html', '20150415.html', '20150416.html', '20150417.html', '20150418.html', '20150419.html', '20150420.html', '20150421.html', '20150422.html', '20150423.html', '20150424.html', '20150425.html', '20150426.html', '20150427.html', '20150428.html', '20150429.html', '20150430.html', '20150501.html', '20150502.html', '20150503.html', '20150504.html', '20150505.html', '20150506.html', '20150507.html', '20150508.html', '20150509.html', '20150510.html', '20150511.html', '20150512.html', '20150513.html', '20150514.html', '20150515.html', '20150516.html', '20150517.html', '20150518.html', '20150519.html', '20150520.html', '20150521.html', '20150522.html', '20150523.html', '20150524.html', '20150525.html', '20150526.html', '20150527.html', '20150528.html', '20150529.html', '20150530.html', '20150531.html', '20150601.html', '20150602.html', '20150603.html', '20150604.html', '20150605.html', '20150606.html', '20150607.html', '20150608.html', '20150609.html', '20150610.html', '20150611.html', '20150612.html', '20150613.html', '20150614.html', '20150615.html', '20150616.html', '20150617.html', '20150618.html', '20150619.html', '20150620.html', '20150621.html', '20150622.html', '20150623.html', '20150624.html', '20150625.html', '20150626.html', '20150627.html', '20150628.html', '20150629.html', '20150630.html', '20150701.html', '20150702.html', '20150703.html', '20150704.html', '20150705.html', '20150706.html', '20150707.html', '20150708.html', '20150709.html', '20150710.html', '20150711.html', '20150712.html', '20150713.html', '20150714.html', '20150715.html', '20150716.html', '20150717.html', '20150718.html', '20150719.html', '20150720.html', '20150721.html', '20150722.html', '20150723.html', '20150724.html', '20150725.html', '20150726.html', '20150727.html', '20150728.html', '20150729.html', '20150730.html', '20150731.html', '20150801.html', '20150802.html', '20150803.html', '20150804.html', '20150805.html', '20150806.html', '20150807.html', '20150808.html', '20150809.html', '20150810.html', '20150811.html', '20150812.html', '20150813.html', '20150814.html', '20150815.html', '20150816.html', '20150817.html', '20150818.html', '20150819.html', '20150820.html', '20150821.html', '20150822.html', '20150823.html', '20150824.html', '20150825.html', '20150826.html', '20150827.html', '20150828.html', '20150829.html', '20150830.html', '20150831.html', '20150901.html', '20150902.html', '20150903.html', '20150904.html', '20150905.html', '20150906.html', '20150907.html', '20150908.html', '20150909.html', '20150910.html', '20150911.html', '20150912.html', '20150913.html', '20150914.html', '20150915.html', '20150916.html', '20150917.html', '20150918.html', '20150919.html', '20150920.html', '20150921.html', '20150922.html', '20150923.html', '20150924.html', '20150925.html', '20150926.html', '20150927.html', '20150928.html', '20150929.html', '20150930.html', '20151001.html', '20151002.html', '20151003.html', '20151004.html', '20151005.html', '20151006.html', '20151007.html', '20151008.html', '20151009.html', '20151010.html', '20151011.html', '20151012.html', '20151013.html', '20151014.html', '20151015.html', '20151016.html', '20151017.html', '20151018.html', '20151019.html', '20151020.html', '20151021.html', '20151022.html', '20151023.html', '20151024.html', '20151025.html', '20151026.html', '20151027.html', '20151028.html', '20151029.html', '20151030.html', '20151031.html', '20151101.html', '20151102.html', '20151103.html', '20151104.html', '20151105.html', '20151106.html', '20151107.html', '20151108.html', '20151109.html', '20151110.html', '20151111.html', '20151112.html', '20151113.html', '20151114.html', '20151115.html', '20151116.html', '20151117.html', '20151118.html', '20151119.html', '20151120.html', '20151121.html', '20151122.html', '20151123.html', '20151124.html', '20151125.html', '20151126.html', '20151127.html', '20151128.html', '20151129.html', '20151130.html', '20151201.html', '20151202.html', '20151203.html', '20151204.html', '20151205.html', '20151206.html', '20151207.html', '20151208.html', '20151209.html', '20151210.html', '20151211.html', '20151212.html', '20151213.html', '20151214.html', '20151215.html', '20151216.html', '20151217.html', '20151218.html', '20151219.html', '20151220.html', '20151221.html', '20151222.html', '20151223.html', '20151224.html', '20151225.html', '20151226.html', '20151227.html', '20151228.html', '20151229.html', '20151230.html', '20151231.html']

In [18]:
# Verifying the url composition
url_test = str(links_2015[0])
print(url_test)

20150101.html

In [19]:
# Step 1: Use Beautiful Soup to parse the HTML content of each link and find the table tag within the HTML content.
link_test = requests.get(url+url_test)
link_soup_test = BeautifulSoup(link_test.content, 'html.parser')

# Step 2: Find the table in the html code
table_test = link_soup_test.find('table')

# Step 3: Use pandas library to read the html table into dataframe
df_test = pd.read_html(str(table_test))[0].iloc[:,:9]

# Step 4: Extract the date code from the url link as use it as a week label for future sorting
weeklabel = url_test[:8]
df_test['Week'] = weeklabel

In [20]:
df_test.head()

,Pos,Pos+,Artist and Title,Days,Peak,Pts,Pts+,TPts,US,Week
0,1,=,Taylor Swift - Blank Space,67,1(29),20632,-115,1.113,2.0,20150101
1,2,=,Mark Ronson - Uptown Funk,52,2,19255,49,0.729,1.0,20150101
2,3,+1,Ed Sheeran - Thinking Out Loud,120,2,18928,464,1.444,6.0,20150101
3,4,-1,Taylor Swift - Shake It Off,136,1(47),18626,34,2.606,5.0,20150101
4,5,=,Meghan Trainor - All About That Bass,164,1(22),16812,70,2.539,7.0,20150101

#### Extract Code

In [5]:
# Define the lists of links
links = [links_2015, links_2016, links_2017, links_2018, links_2019, links_2020, links_2021]
week_allcharts_df = []

In [6]:
# Loop through each list of links
for link_list in tqdm(links, desc='Overall Year progress', position=0):
    # Loop through each link in the list
    for link in tqdm(link_list, desc=f'Links in {link_list[0][:4]}', position=1, leave=False):
        try:
        # Step 1: Use Beautiful Soup to parse the HTML content of each link and find the table tag within the HTML content.
            link_final = requests.get(url+link)
            link_soup_final = BeautifulSoup(link_final.content, 'html.parser')

        # Step 2: Find the table in the html code
            table_final = link_soup_final.find('table')

        # Step 3: Use pandas library to read the html table into dataframe
            weekchart_df = pd.read_html(str(table_final))[0].iloc[:,:9]

        # Step 4: Extract the date code from the url link as use it as a week label for future sorting
            weeklabel = link[:8]
            weekchart_df ['Week'] = weeklabel

        # Step 5: Append the dataframe to the list of dataframes
            week_allcharts_df.append(weekchart_df)
        except:
            print(f'Error processing link: {link}')

Overall Year progress: 100%|██████████| 7/7 [1:13:38<00:00, 631.27s/it]

In [8]:
weekchart_df.head()

,Pos,P+,Artist and Title,Days,Pk,(x?),Pts,Pts+,TPts,Week
0,1,+1,Elton John & Dua Lipa - Cold Heart,141,1,(x19),18842,890,2.522,20211231
1,2,-1,Adele - Easy On Me,78,1,(x49),18726,332,1.561,20211231
2,3,+13,Jaymes Young - Happiest Year,14,3,(x1),15922,8216,0.094,20211231
3,4,=,Acraze - Do It To It,78,4,NaN,14353,822,0.783,20211231
4,5,-2,Alesso & Katy Perry - When I'm Gone,3,3,(x1),13608,-1009,0.040,20211231

In [10]:
# Concatenate all dataframes in week_allcharts_df list into a single dataframe
week_allcharts_df = pd.concat(week_allcharts_df, ignore_index=True)

In [22]:
week_allcharts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565600 entries, 0 to 565599
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Pos               565600 non-null  int64
 1   Pos+              133000 non-null  object
 2   Artist and Title  565600 non-null  object
 3   Days              565600 non-null  object
 4   Peak              133000 non-null  object
 5   Pts               565600 non-null  int64
 6   Pts+              565600 non-null  int64
 7   TPts              565600 non-null  float64
 8   US                65273 non-null   float64
 9   Week              565600 non-null  object
 10  P+                432600 non-null  object
 11  Pk                432600 non-null  float64
 12  (x?)              91685 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 56.1+ MB

In [30]:
# export the dataframe to a CSV file with high efficiency
chunk_size = 10000 # adjust this to a size that works for your system
df_list = [chunk for _, chunk in week_allcharts_df.groupby(np.arange(len(week_allcharts_df)) // chunk_size)]

with open('../test chamber/week_allcharts_df_v01.csv', 'w') as f:
    writer = csv.writer(f)
    pbar = tqdm(total=len(week_allcharts_df))
    for chunk in df_list:
        chunk.to_csv(f, index=False, header=False)
        pbar.update(len(chunk))
    pbar.close()

  0%|          | 0/565600 [00:56<?, ?it/s]
100%|██████████| 565600/565600 [00:04<00:00, 122786.45it/s]